{% extends "common_base.html" %}

{% block setting %}
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href= "{% static "css/index.css" %}{% if timestamp %}?v={{ timestamp }} {% endif %}" />
    <script src= "{% static "js/timefunc.js" %}{% if timestamp %}?v={{ timestamp }} {% endif %}" ></script>
{% endblock %}

{% block content %}
    {% include 'common_head.html' %}
    <body onload="timeCount('timetick')">
        <div class="scorllpage">
            <div class="individual">
                <span id="timetick" class="Gold"/>
            </div>
        </div>
    </body>
{% endblock %}
