{% extends "common_base.html" %}

{% block setting %}
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href= "{% static "css/tables.css" %}{% if timestamp %}?v={{ timestamp }} {% endif %}" />
    <script src= "{% static "js/display.js" %}{% if timestamp %}?v={{ timestamp }} {% endif %}" ></script>
{% endblock %}

{% block content %}
    {% include 'common_head.html' %}

{% if edititem %}
    <body onload="setMultiSelected('typeselect,statusselect', '{{ edititem.itemtype.typename }},{{ edititem.itemstatus.status }}')">
{% else %}
    <body>
{% endif %}
        <div class="scorllpage">
            <div>
                <span class="Gold"> Item Edit Page </span>
            </div>

{% if empty %}
            <form name="params" action="/saas/item/edit/confirm" method="get">
                <p>Item Name: <input type="text" name="itemname" />
                </p>
                <p>Item Image: <input type="text" name="itemimg" />
                </p>
                <input type="file" name="imgfile" id="fileImg" />
                <p>Item Type:
                    <select name="itemtype">
{% for eachtype in typelist %}
                        <option value={{ eachtype.typename }}>
                            {{ eachtype.typename }}
                        </option>
{% endfor %}
                    </select>
                </p>
                <p>Item Status:
                    <select name="itemstatus">
{% for eachstatus in statuslist %}
                        <option value={{ eachstatus.status }}>
                            {{ eachstatus.status }}
                        </option>
{% endfor %}
                    </select>
                </p>
                <p>Item Desc: <input type="text" name="itemdesc" />
                </p>
                <input type="hidden" name="choice" value="create" />
                <input type="submit" value="Submit" />
            </form>
{% else %}
    {% if edititem %}
            <form name="params" action="/saas/item/edit/confirm" method="get">
                <p>Item Name: <input type="text" name="itemname"
                    value = {{ edititem.itemname }} />
                </p>
                <p>Item Image: <input type="text" name="itemimg"
                    value = {{ edititem.itemimg }} />
                </p>
                <input type="file" name="imgfile" id="fileImg" />
                <p>Item Type:
                    <select name="itemtype" id="typeselect">
    {% for eachtype in typelist %}
                        <option value={{ eachtype.typename }}> {{ eachtype.typename }} </option>
    {% endfor %}
                    </select>
                </p>
                <p>Item Status:
                    <select name="itemstatus" id="statusselect">
    {% for eachstatus in statuslist %}
                        <option value={{ eachstatus.status }}> {{ eachstatus.status }} </option>
    {% endfor %}
                    </select>
                </p>
                <p>Item Desc: <input type="text" name="itemdesc"
                    value = {{ edititem.itemdesc }} />
                </p>
                <input type="radio" checked="checked" name="choice" value="update" />
                update <br/>
                <input type="radio" name="choice" value="create" />
                create <br/>
                <input type = "hidden" name = "itemid"
                    value = "{{ edititem.id }}"/>
                <input type="submit" value="Submit" />
            </form>
    {% endif %}
{% endif %}

{% if itemlist %}
        <table>
            <tr>
                <th class="5per">id</th>
                <th class="10per">name</th>
                <th class="thumb">img</th>
                <th class="10per">type</th>
                <th class="10per">status</th>
                <th class="25per">desc</th>
                <th class="10per">modify</th>
            </tr>
{% for eachitem in itemlist %}
            <tr>
                <td class="5per">
                    {{ eachitem.id }}
                </td>
                <td class="10per">
                    {{ eachitem.itemname }}
                </td>
                <td class="thumb">
                    <div class="thumbnail">
                        <img src="static/img/item/{{ eachitem.itemimg }}" />
                    </div>
                </td>
                <td class="10per">
                    {{ eachitem.itemtype.typename }}
                </td>
                <td class="10per">
                    {{ eachitem.itemstatus.status }}
                </td>
                <td class="25per">
                    {{ eachitem.itemstatus.itemdesc }}
                </td>
                <td class="10per">
                    <a href="/saas/item/edit?edititem={{ eachitem.id }}">MOD</a>
                </td>
            <tr>
{% endfor %}
        </table>
{% endif %}
        </div>
    </body>
{% endblock %}
