{% extends "common_base.html" %}

{% block setting %}
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href= "{% static "css/tables.css" %}{% if timestamp %}?v={{ timestamp }} {% endif %}" />
{% endblock %}

{% block content %}
    {% include 'common_head.html' %}
    <body>
        <div class="scorllpage">
            <div>
                <span class="Gold"> Place Edit Page </span>
            </div>
        <hr/>
        <h3>Add New Place</h3>
            <table>
                <tr>
                    <th>name</th>
                    <th>img</th>
                    <th>imgrect</th>
                    <th>desc</th>
                    <th>operate</th>
                </tr>
                <form name="params" action="/saas/place/edit/confirm" method="get">
                <tr>
                    <input type="hidden" name="choice" value="create" />
                    <td><input type="text" name="placename" required="required" /></td>
                    <td><input type="text" name="placeimg" />
                        <input type="file" name="imgfile" id="fileImg" /></td>
                    <td><input type="text" name="imgrect" /></td>
                    <td><input type="text" name="placedesc" /></td>
                    <td><input type="submit" value="Add New" /></td>
                </tr>
                </form>
            </table>
        <hr/>
        <h3>Current Places</h3>

{% if placelist %}
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>img</th>
                <th>imgrect</th>
                <th>desc</th>
                <th>update</th>
                <th>delete</th>
            </tr>
    {% for eachplace in placelist %}
            <tr>
                <form name="params" action="/saas/place/edit/confirm" method="get">
                    <input type="hidden" name="placeid" value="{{ eachplace.id }}" />
                    <input type="hidden" name="choice" value="update"/>
                    <td> {{ eachplace.id }} </td>
                    <td>
                        <input type="text" name="placename"
                            value="{{ eachplace.placename }}" />
                    </td>
                    <td>
                        <div class="thumbnail">
                            <img src="static/img/place/{{ eachplace.placeimg }}" />
                        </div>
                        <input type="text" name="placeimg"
                            value="{{ eachplace.placeimg }}" />
                        <input type="file" name="imgfile" id="fileImg" />
                    </td>
                    <td>
                        <input type="text" name="imgrect"
                            value="{{ eachplace.imgrect }}" />
                    </td>
                    <td>
                        <input type="text" name="placedesc"
                            value="{{ eachplace.placedesc }}" />
                    </td>
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
                <form name="params" action="/saas/place/edit/confirm" method="get">
                    <input type="hidden" name="placeid" value="{{ eachplace.id }}" />
                    <input type="hidden" name="choice" value="delete"/>
                    <td>
                        <input type="submit" value="Delete" />
                    </td>
                </form>
            <tr>
    {% endfor %}
        </table>
{% endif %}
        </div>
    </body>
{% endblock %}
