{% extends "common_base.html" %}

{% block setting %}
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href= "{% static "css/tables.css" %}" />
{% endblock %}

{% block content %}
    {% include 'common_head.html' %}
    <body>
        <div class="scorllpage">
            <div>
                <span class="Gold"> Place Edit Page </span>
            </div>
{% if editplace %}
            <form name="params" action="/saas/place/edit/confirm" method="get">
                <p>Place Name: <input type="text" name="placename"
                    value = {{ editplace.placename }} />
                </p>
                <p>Place Image: <input type="text" name="placeimg"
                    value = {{ editplace.placeimg }} />
                </p>
                <p>Image Rect: <input type="text" name="imgrect"
                    value = {{ editplace.imgrect }} />
                </p>
                <p>Place Desc: <input type="text" name="placedesc"
                    value = {{ editplace.placedesc }} />
                </p>
                <input type="radio" checked="checked" name="choice" value="update" />
                update <br/>
                <input type="radio" name="choice" value="create" />
                create <br/>
                <input type = "hidden" name = "placeid"
                    value = "{{ editplace.id }}"/>
                <input type="submit" value="Submit" />
            </form>
{% endif %}

{% if placelist %}
        <table>
            <tr>
                <th class="id">id</th>
                <th class="name">name</th>
                <th class="image">img</th>
                <th class="desc">desc</th>
                <th class="operate">modify</th>
            </tr>
{% for eachplace in placelist %}
            <tr>
                <td class="id">
                    {{ eachplace.id }}
                </td>
                <td class="name">
                    {{ eachplace.placename }}
                </td>
                <td class="image">
                    <div class="thumbnail">
                        <img src="static/img/{{ eachplace.placeimg }}" />
                    </div>
                </td>
                <td class="desc">
                    {{ eachplace.placedesc }}
                </td>
                <td class="operate">
                    <a href="/saas/place/edit?editplace={{ eachplace.id }}">MOD</a>
                </td>
            <tr>
{% endfor %}
        </table>
{% endif %}
        </div>
    </body>
{% endblock %}
