{% extends "common_base.html" %}

{% block setting %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
    {% include 'common_head.html' %}
    <body>
        <div class="scorllpage">
{% if tax %}
            <div>
                <span class="Gold"> Pay Tax : {{ tax }} </span>
            </div>
{% endif %}
{% if realget %}
            <div>
                <span class="Gold"> Real Get : {{ realget }} </span>
            </div>
{% endif %}
            <form name="params" action="/saas/tax" method="get">
                <p>Start Tax Value: <input type="text" name="starttax"
                    {% if starttax %} value = {{ starttax }}  {% endif %} />
                </p>
                <p>Social Security: <input type="text" name="socials"
                    {% if socials %} value = {{ socials }}  {% endif %} />
                </p>
                <p>Total Salary: <input type="text" name="salary"
                    {% if salary %} value = {{ salary }}  {% endif %} />
                </p>
{% if other %}
                <p>Tax by self: <input type="radio" name="type" value="self" /></p>
                <p>Tax by other: <input type="radio" name="type" value="other" checked="checked" /></p>
{% else %}
                <p>Tax by self: <input type="radio" name="type" value="self" checked="checked" /></p>
                <p>Tax by other: <input type="radio" name="type" value="other" /></p>
{% endif %}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
{% endblock %}
