{% extends "common_base.html" %}

{% block setting %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
    {% include 'common_head.html' %}
    <body>
        <div class="scorllpage">
{% if calcresult %}
            <div>
                <span class="Gold"> {{ calcresult }} </span>
            </div>
{% endif %}
            <form name="params" action="/saas/tax" method="get">
                <p>Start Tax Value: <input type="text" name="starttax" /></p>
                <p>Social Security: <input type="text" name="socials" /></p>
                <p>Total Salary: <input type="text" name="salary" /></p>
                <p>Tax by self: <input type="radio" name="type" value="self" checked="checked" /></p>
                <p>Tax by other: <input type="radio" name="type" value="other" /></p>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
{% endblock %}
