{% extends "common_base.html" %}

{% block setting %}
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href= "{% static "css/tables.css" %}{% if timestamp %}?v={{ timestamp }} {% endif %}" />
    <script src= "{% static "js/display.js" %}{% if timestamp %}?v={{ timestamp }} {% endif %}" ></script>
{% endblock %}

{% block content %}
    {% include 'common_head.html' %}
<hr/>

{% if weblist %}
    <div class="scorllpage">
        <table>
            <tr>
                <th class="20per">Name</th>
                <th class="50per">Desc</th>
                <th class="15per">Entrance</th>
                <th class="15per">Operate</th>
            </tr>
        {% for webinfo in weblist %}
            <tr>
                <td class="20per"
                    onmouseover="switchDisp('name_{{ webinfo.webseq }}', 'inline')"
                    onmouseout= "switchDisp('name_{{ webinfo.webseq }}', 'none')"
                    onclick=    "switchDisp('name_{{ webinfo.webseq }}', 'none')">
                    {{ webinfo.desc }}
                    <div id="name_{{ webinfo.webseq }}" class="table detail">
                        {{ webinfo.website }}
                    </div>
                </td>
                <td class="50per"
                    onmouseover="switchDispContent('desc_{{ webinfo.webseq }}', '{{ webinfo.detail }}')"
                    onmouseout= "switchDispContent('desc_{{ webinfo.webseq }}', '')"
                    onclick= "switchDispContent('desc_{{ webinfo.webseq }}', '')">
                    Detail
                    <div id="desc_{{ webinfo.webseq }}" class="table detail desc"></div>
                </td>
                <td class="15per">
                    <a href="{{ webinfo.website }}">enter</a>
                </td>
                <td class="15per">
                    <a href="{% url 'webedit' 'delete' webinfo.webseq %}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <form name="clear" action="{% url 'webedit' 'clear' 'all' %}" method="get">
            <input type="submit" value="Clear All" />
        </form>
    </div>
{% else %}
    <body onload="redirectError()"/>
{% endif %}

{% endblock %}
