
table {
    margin: 0 2%;
    width: 96%;
    color: #FFFFFF;
    border-collapse: collapse;
    padding: 2rem 2rem;
}

tr {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

th {
    border: 1px solid #959595;
    font-weight: bold;
    background-color: #CBCBCB;
    color: #000000;
    vertical-align: middle;
}

td {
    border: 1px solid #959595;
    background-color: #EBEBEB;
    border-spacing: 1px;
    color: #000000;
    vertical-align: middle;
}


img {
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
}

div

.comment {
    margin-left: 5%;
    text-align: left;
    font-style: italic;
    font-size: 1rem;
}

.thumbnail {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.table.detail {
    display: none;
    position: absolute;
    color: #3CFFFF;
    background-color: #171717;
    border: 0;
    margin: 0 auto;
    overflow: hidden;
}

.table.detail.desc {
    display: block;
}
